.sidebar {
  width: 300px;
  padding: 0 $gutter $gutter;
  background: $c-white;
  position: relative;
  transition: 0.3s transform ease-in-out;
  @media (max-width: $mobile-braikpoint) {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }
}
