.users-list {
  width: calc(100% + 30px);
  margin-left: -$gutter;
  .list-group-item {
    display: flex;
    align-items: center;
    border-radius: 0;
    font-weight: bold;
    background: darken($light, 5%);
    cursor: pointer;
    border: 0;
    img {
      width: 40px;
      height: 40px;
      object-fit: cover;
      object-position: center;
      margin-right: $gutter;
    }
    &.active {
      background: $primary;
    }
    .status {
      width: 10px;
      height: 10px;
      border-radius: 100%;
      display: block;
      margin-left: auto;
    }
    &.offline {
      .status {
        background: $danger;
      }
    }
    &.online {
      .status {
        background: $success;
      }
    }
  }
}
