.main-layout {
  height: 100vh;
  overflow: hidden;
  position: relative;
  .back-to-chats {
    position: absolute;
    z-index: 20;
    left: 30px;
    top: 25px;
    display: none;
    @media (max-width: $mobile-braikpoint) {
      display: inline-block;
    }
  }
  &__inner {
    padding: $gutter;
    width: calc(100% - 300px);
    transition: 0.3s transform ease-in-out, 0.3s width ease-in-out;
    @media (max-width: $mobile-braikpoint) {
      display: none;
    }
  }
  @media (max-width: $mobile-braikpoint) {
    &.active {
      .main-layout__inner {
        display: block;
        width: 100%;
      }
      .sidebar {
        display: none !important;
      }
    }
  }
}
