.chat {
  height: 100%;
  display: flex;
  flex-direction: column;
  .visualizer {
    display: none !important;
  }
  &-messages {
    height: 100%;
    margin-bottom: $gutter;
    overflow-y: auto;
    background: $c-white;
    padding: $gutter;
    border-radius: 0.25rem;
    border: 1px solid darken($light, 15%);
    display: flex;
    flex-direction: column;
    @media (max-width: $mobile-braikpoint) {
      padding-top: 60px;
    }
  }
  &-form {
    margin-top: auto;
    display: flex;
    align-items: flex-end;
    position: relative;
    .emoji-toggler {
      position: absolute;
      bottom: 4.5px;
      right: 64px;
      padding: 2px 5px;
    }
    .emoji-mart {
      position: absolute;
      bottom: calc(100% + 10px);
      right: 0;
    }
    .form-control {
      margin-right: $gutter;
      resize: none;
      font-size: 15px;
    }
  }
}

.faq-tooltip {
  .tooltip-inner {
    text-align: left;
    max-width: none;
    font-size: 12px;
  }
}

.chat-message {
  display: inline-flex;
  align-items: flex-end;
  background: darken($light, 3%);
  border-radius: $gutter / 3;
  margin-left: $gutter / 1.5;
  margin-right: auto;
  margin-bottom: $gutter / 1.5;
  padding: $gutter / 1.5;
  font-size: 14px;
  position: relative;
  white-space: pre-wrap;
  @media (max-width: $mobile-braikpoint) {
    font-size: 13px;
    padding: $gutter / 1.5 $gutter / 2 $gutter / 2;
  }
  &_delete {
    opacity: 0;
    padding: 0;
    border: 0;
    background: none;
    position: absolute;
    right: 5px;
    top: 2px;
    color: $danger;
    @media (max-width: $mobile-braikpoint) {
      opacity: 1;
    }
  }
  &:hover {
    .chat-message_delete {
      opacity: 1;
    }
  }
  audio {
    height: 40px;
    outline: none;
    max-width: 100%;
  }
  &::after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 $gutter / 1.5 $gutter / 1.5;
    border-color: transparent transparent darken($light, 3%) transparent;
    content: "";
    position: absolute;
    left: -7px;
    bottom: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
  &--my {
    margin-left: auto;
    margin-right: $gutter / 1.5;
    background: lighten($success, 30%);
    &::after {
      border-width: $gutter / 1.5 0 0 $gutter / 1.5;
      border-color: transparent transparent transparent lighten($success, 30%);
      left: auto;
      right: -7px;
    }
  }
  &__date {
    font-size: 12px;
    margin-left: $gutter * 2;
    margin-top: $gutter / 3;
    white-space: nowrap;
    @media (max-width: $mobile-braikpoint) {
      font-size: 10px;
      margin-left: $gutter;
    }
  }
}
