.spinner-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 200;
  &::after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background: rgba(255, 255, 255, 0.5);
  }
  &__bacground {
    &::after {
      display: block;
    }
  }
}
