.modal {
  &-header {
    display: block;
    position: relative;
    .close {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
    }
  }
  &-body {
    .users-list {
      .list-group-item {
        margin-bottom: $gutter / 3;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
