.auth-form {
  width: 80%;
  max-width: 500px;
  position: relative;
  .btn {
    width: 100%;
    margin-bottom: 10px;
  }
}

.login-with-social {
  position: relative;
  &__text {
    border-top: 1px solid lighten($dark, 50%);
  }
}
